---
import { getEntry } from "astro:content";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SwiperSection from "../components/SwiperSection.astro";
import Layout from "../layouts/Layout.astro";

const pages = {
	"": "Home",
	projects: "Projects",
	skills: "Skills",
};

const featured = [
	await getEntry("project", "daniel-culis"),
	await getEntry("project", "daniel-culis"),
	await getEntry("project", "daniel-culis"),
];
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar
			pages={pages}
			left={{ text: "Gasdev.fr", href: "/" }}
			right={{
				text: "My CV",
				icon: "https://api.iconify.design/material-symbols/download-rounded.svg?height=24",
				href: "https://public.s3web.gasdev.fr/CV Gaspard Culis 2024.pdf",
			}}
		/>
		<Hero />
		<section class="bg-primary text-primary-content p-4 md:px-20 pt-20 lg:pb-0">
			<div class="flex justify-between space-x-12">
				<article>
					<h1 class="mb-4 text-5xl font-bold">Featured Work</h1>
					<h2 class="mb-16 text-xl 2xl:text-2xl">
						I love to create things, and I'm always working on something new!
						You can view some of my favorite projects below.
					</h2>
				</article>
				<a href="/projects/" class="btn btn-secondary">See more</a>
			</div>
			<SwiperSection class="text-base-content" wrapperClass="pb-10">
				{featured.map((project) => <ProjectCard project={project} />)}
			</SwiperSection>
		</section>
	</main>
</Layout>
