---
import DripTransition from "../components/DripTransition.astro";
import Hero from "../components/Hero.astro";
import IntroText from "../components/IntroText.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SwiperSection from "../components/SwiperSection.astro";
import Layout from "../layouts/Layout.astro";

const pages = {
	"": "Home",
	projects: "Projects",
	skills: "Skills",
};
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar
			pages={pages}
			left={{ text: "Gasdev.fr", href: "/" }}
			right={{
				text: "My CV",
				icon: "https://api.iconify.design/material-symbols/download-rounded.svg?height=24",
				href: "https://public.s3web.gasdev.fr/CV Gaspard Culis 2024.pdf",
			}}
		/>
		<Hero />
		<section class="bg-primary text-primary-content py-12 px-8">
			<h1 class="mb-8 text-5xl font-bold text-center">Featured Work</h1>
			<SwiperSection class="text-base-content">
				{
					[0, 2, 3].map((_) => (
						<ProjectCard
							title="Shoes!"
							description="If a dog chews shoes whose shoes does he choose?"
							img="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
							tags={["Fashion", "Products"]}
						/>
					))
				}
			</SwiperSection>
		</section>
	</main>
</Layout>
