---
import { getEntry, getCollection } from "astro:content";
import Hero from "../components/Hero.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SwiperSection from "../components/SwiperSection.astro";
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import AboutMe from "../components/AboutMe.astro";
import Testimonial from "../components/Testimonial.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const featured = [
	await getEntry("project", "smol-gpt"),
	await getEntry("project", "titlemc"),
	await getEntry("project", "svg-tileserver"),
];

const testimonials = await getCollection("testimonial");
---

<Layout title="Gaspard Culis">
	<main>
		<Hero />
		<section
			class="grid grid-cols-2 gap-y-8 bg-primary text-primary-content p-4 md:px-20 pt-20"
		>
			<div class="col-span-2 lg:col-span-1">
				<h1 class="mb-4 text-5xl font-bold">{t("featured.title")}</h1>
				<h2 class="mb-8 text-xl 2xl:text-2xl">
					{t("featured.description")}
				</h2>
			</div>
			<a
				href="/projects/"
				class="btn btn-secondary col-span-2 lg:col-span-1 row-end-4 lg:row-auto mx-auto lg:mr-0"
				>{t("featured.more")}</a
			>
			<SwiperSection class="col-span-2 w-full h-fit" wrapperClass="pb-10">
				{featured.map((project) => <ProjectCard project={project} />)}
			</SwiperSection>
		</section>
		<section class="bg-base-100 text-base-content">
			<div class="p-4 md:px-20 pt-20">
				<h1 class="mb-4 text-5xl font-bold">{t("toolkit.title")}</h1>
				<h2 class="text-xl 2xl:text-2xl lg:w-1/2">
					{t("toolkit.description")}
				</h2>
			</div>
			<Skills />
		</section>
		<section
			class="flex flex-col items-center space-y-12 bg-primary text-primary-content p-4 md:px-20 py-20"
		>
			<AboutMe />
		</section>
		<section
			class="lg:flex lg:justify-center bg-base-100 text-base-content p-4 py-20"
		>
			<div class="space-y-6 lg:space-y-12">
				<h1 class="mb-4 text-5xl font-bold lg:w-2/3">
					{t("testimonials.title")}
				</h1>
				<h2 class="text-xl 2xl:text-2xl lg:w-1/2">
					{t("testimonial.description")}
				</h2>
			</div>
			<div class="pt-8 space-y-6">
				{testimonials.map((t) => <Testimonial testimonial={t} />)}
			</div>
		</section>
	</main>
</Layout>
