---
import DripTransition from "../components/DripTransition.astro";
import IntroText from "../components/IntroText.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

const pages = {
	"": "Home",
	projects: "Projects",
};
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar
			pages={pages}
			left={{ text: "Gasdev.fr", href: "/" }}
			right={{
				text: "My CV",
				icon: "https://api.iconify.design/material-symbols/download-rounded.svg?height=24",
				href: "https://public.s3web.gasdev.fr/CV Gaspard Culis 2024.pdf",
			}}
		/>
	</main>
</Layout>
