---
import DripTransition from "../components/DripTransition.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<center><h1>404 Not Found</h1></center>
		<hr /><center>nginx/1.22.1</center>
		<DripTransition />
	</main>
</Layout>
