---
import DripTransition from "../components/DripTransition.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<DripTransition />
	</main>
</Layout>
