---
import { Image } from "astro:assets";

import meClimbing from "../content/images/me-climbing.jpg";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { Content } = await import(`../content/aboutme/${lang}.md`);
---

<div class="flex flex-col-reverse lg:grid grid-cols-3 gap-12 max-w-6xl">
  <article class="col-span-2 m-auto">
    <h1 class="mb-12 text-5xl font-bold">{t("about.title")}</h1>
    <div class="text-xl 2xl:text-2xl">
      <Content />
    </div>
  </article>
  <Image
    class="object-contain col-span-1 m-auto rounded-lg"
    src={meClimbing}
    alt="Picture of me climbing"
  />
</div>
