---
import { Image } from "astro:assets";
import { type CollectionEntry, render } from "astro:content";

export interface Props {
  testimonial: CollectionEntry<"testimonial">;
}

const { testimonial } = Astro.props;
const { author, author_role, image } = testimonial.data;
const { Content } = await render(testimonial);
---

<div
  class="p-4 space-y-4 rounded-lg bg-base-200 border-2 border-base-300 text-neutral"
>
  <article class="text-lg prose prose-p:text-neutral">
    <Content />
  </article>
  <div class="flex space-x-4 items-center">
    {
      image && (
        <Image
          class="rounded-full w-16 h-16 object-cover"
          src={image}
          alt="Author picture"
        />
      )
    }
    <div>
      <h3 class="font-bold">{author}</h3>
      <p class="text-base-content">{author_role}</p>
    </div>
  </div>
</div>
