---
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";
import ProjectCard from "../../components/ProjectCard.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = await getCollection("project");
---

<Layout title="Gaspard Culis | Projects">
  <main class="p-4 md:px-20 pt-20">
    <h1 class="mb-4 text-5xl font-bold">{t("projects.title")}</h1>
    <h2 class="mb-8 text-xl 2xl:text-2xl">
      {t("projects.description")}
    </h2>
    <section class="grid lg:grid-cols-2 2xl:grid-cols-3 gap-8">
      {
        projects.map((project) => (
          <ProjectCard project={project} mode="border" />
        ))
      }
    </section>
  </main></Layout
>
