---
import Navbar from "../components/Navbar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;

const pages = {
	"": "Home",
	projects: "Projects",
	skills: "Skills",
};
---

<!doctype html>
<html lang="en" data-theme="winter">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar
			pages={pages}
			left={{ text: "Gasdev.fr", href: "/" }}
			right={{
				text: "My CV",
				icon: "https://api.iconify.design/material-symbols/download-rounded.svg?height=24",
				href: "https://public.s3web.gasdev.fr/CV Gaspard Culis 2024.pdf",
			}}
		/>
		<slot />
	</body>
</html>
<style>
	html,
	body {
		margin: 0px;
	}
</style>
