---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import { locales } from "../i18n/ui";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

interface Props {
	title: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const locale = locales[lang];
const t = useTranslations(lang);

const pages = {
	"": t("nav.home"),
	projects: t("nav.projects"),
};
---

<!doctype html>
<html lang={locale} data-theme="winter">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script defer src="https://analytics.gasdev.fr/script.js" data-website-id="80eeeaa8-b7bd-49b4-a3c9-f99f79dd54dd"></script>
	</head>
	<body>
		<Navbar
			pages={pages}
			left={{ text: "Gasdev.fr", href: "/" }}
			right={{
				text: t("nav.resume"),
				icon: "https://api.iconify.design/material-symbols/download-rounded.svg?height=24",
				href: "https://rxresu.me/gaspardculis/curriculum-vitae",
			}}
		/>
		<slot />
		<Footer />
	</body>
</html>
<style>
	html,
	body {
		margin: 0px;
	}
</style>
