---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import { Image } from "astro:assets";

export interface Props {
  frontmatter: CollectionEntry<"project">["data"];
}

const { title, description, repo, url, image, tags } = Astro.props.frontmatter;
---

<Layout title="Gaspard Culis | Projects">
  <main class="w-full py-8 lg:py-16 px-6 lg:px-8">
    <Image src={image} alt="Blog post image" class="w-full max-w-6xl m-auto" />
    <article class="prose xl:prose-xl mt-8 my-auto">
      <h1>Title</h1>
      <h4>description</h4>
      <slot />
    </article>
  </main>
</Layout>
